$color-one: rgb(95, 95, 95);
$color-two: rgb(235, 84, 36);
$color-three: rgb(204, 33, 39);
$color-four: rgb(85, 172, 238);
$color-five: rgb(59, 89, 152);

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}
ul li {
  list-style: none;
  padding-top: 10px;
  padding-right: 30px;
}

.nav-home {
  color: $color-two;
}

.nav-list {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
  color: rgb(53, 48, 48);
}

.nav-list:hover {
  color: $color-two;
  cursor: pointer;
}

#my-name {
  color: $color-one;
  text-transform: uppercase;
  font-weight: bolder;
}

.job-title {
  font-family: "Shadows Into Light", cursive;
  color: $color-two;
  font-size: 30px;
  font-weight: bold;
}

.write-up {
  text-align: center;
  margin-bottom: 20px;
}

header {
  background-image: url(../Assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
}

.container-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 250px;
}

.btn-action {
  background-color: $color-two;
  color: white;
  border: none;
  padding: 15px 35px 15px 35px;
  border-radius: 2px;
  display: block;
}

.btn-action:hover {
  font-family: "Shadows Into Light", cursive;
  color: white;
  background-color: $color-five;
  font-size: large;
  text-decoration: none;
  border-radius: 100%;
}

.cta:hover {
  font-family: "Shadows Into Light", cursive;
  color: white;
  background-color: $color-four;
  font-weight: 2rem;
  text-decoration: none;
}
.section-two {
  height: 100vmin;
}

.p-section-two {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 100px 0 50px 190px;
  color: $color-one;
}
.small-text {
  text-transform: uppercase;
  color: $color-two;
  font-size: 20px;
  font-weight: bold;
}

.blockcards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid $color-one;
    padding: 140px 10px 140px 10px;
    margin-left: 25px;
  }
  .block:hover {
    border: 0.5px solid $color-two;
  }
}

.fas {
  padding-bottom: 20px;
  color: $color-one;
}

.card-text {
  color: $color-one;
}
